<main class="main">

</main>
<div>

        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>

</div>
<!-- <div  class="container-fluid">  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
      <ul class="navbar-nav">  
        <li class="nav-item ">  
          <a routerLink="student-list" class="nav-link" class="btn btn-primary active" role="button" >View Student</a>  
        </li>   
        <li class="nav-item">  
          <a  routerLink="add-student" class="nav-link" class="btn btn-primary active" role="button" >Add Student</a>  
        </li>            
        <li class="nav-item">  
          <a  routerLink="save-student-reactive" class="nav-link" class="btn btn-primary active" role="button" >Save Student Reavtive Form</a>  
        </li>            

      </ul>  
    </nav>     
      <router-outlet></router-outlet>  
  </div>  
<router-outlet /> -->