<p>update-student works!</p>

<div class="row" style="background-color: silver; ">  
    <div class="col-sm-4"></div>  
    <div class="col-sm-4" >  
      <div  style="width: 400px;">  
        <form  [formGroup]="studentsaveform"  (ngSubmit)="updateStudent()">  
            <div class="form-group">  
                <label for="name" class="form-label">Student First Name</label>  
                <input type="text" class="form-control"    formControlName="firstName" data-toggle="tooltip"   
                   data-placement="right" title="Enter Student First Name" >  
                  
            </div>  
            <div class="form-group">  
              <label for="name">Student Last Name</label>  
              <input type="text" class="form-control"  formControlName="lastName" data-toggle="tooltip"   
                 data-placement="right" title="Enter Student Last Name" >  
                
          </div>  
    
            <div class="form-group">  
                <label for="name">Student Email</label>  
                <input type="text" class="form-control" formControlName="email"   
                  data-toggle="tooltip" data-placement="right" title="Enter Student Email">  
                
            </div>  
      
            <button type="submit" class="btn btn-success">Submit</button>  
        </form>  
    </div>  
    </div>  
    <div class="col-sm-4"></div>  
  </div>  
  
  
